body{
    background-color: mediumspringgreen;
}

.mainBox{
    width: 90vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBarBox, .sortingButtonsBox{
    width: 80%;
}

.sortingButtonsBox, .filterByTypeBox {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.searchBar{
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.searchBar > h2{
    margin: 0px 10px 0px 0px;
}

.filterByTypeBox{
    width: 100%;
    height: 25%;
}

.tilesBox{
    background-color: white;
    width: 100%;
    height: 65%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    overflow: inherit;
}

.restore{
    margin-bottom: 20px;
}

.table > table th, td {
    border: 2px #b01c09 solid;
    padding: 16px;
    position: relative;
}

td img {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.table > table {
    border-collapse: collapse;
}